header{
  height: 20%;
  background-color: #1f283e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1 {
  color: white;
}
.wrapper h1 strong{
  color: #7b1fa2;
  font-size: 1.1rem;
}
