<div class="wrapper">

  <nav>
    <ul>
      <li>
        <a href="" class="active">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups_2" ></mat-icon>
          Artistas
        </a>
      </li>

      <li>
        <a href="" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="album" ></mat-icon>
          Álbuns
        </a>
      </li>

      <li>
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="library_music" ></mat-icon>
          Músicas
        </a>
      </li>

      <li>
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person" ></mat-icon>
          Usuários
        </a>
      </li>

      <li>
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="bar_chart" ></mat-icon>
          Relatórios
        </a>
      </li>

    </ul>
  </nav>
</div>


